[Unit]
Description=PurchaseChime Chromium Autostart
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/opt/nodejs-purchasechime/scripts
ExecStart=/opt/nodejs-purchasechime/scripts/start_chromium.sh

[Install]
WantedBy=multi-user.target

# cp purchasechime-chromium.service /etc/systemd/system/purchasechime-chromium.service
# sudo systemctl daemon-reload
#sudo systemctl enable purchasechime-chromium.service
